# Comment lire un fichier Excel?

In [4]:
import pandas as pd
df = pd.read_excel("EURUSD=X_TODAY.xlsx")
df

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Company,ARIMA,LINEAR,SVR,COMPOUND
0,0,2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179795,1.172751,1.169583
1,1,2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179304,1.172751,1.169419
2,2,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.178981,1.172751,1.169312
3,3,2021-10-24,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179142,1.172751,1.169366
4,4,2021-10-23,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179616,1.172751,1.169523
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,88,2021-07-05,1.185593,1.188200,1.185201,1.185621,1.185621,0.0,EURUSD=X,NaN,NaN,NaN,NaN
89,89,2021-07-02,1.184708,1.186099,1.181935,1.184624,1.184624,0.0,EURUSD=X,NaN,NaN,NaN,NaN
90,90,2021-07-01,1.185536,1.188399,1.183810,1.185677,1.185677,0.0,EURUSD=X,NaN,NaN,NaN,NaN
91,91,2021-06-30,1.189994,1.191043,1.184582,1.190193,1.190193,0.0,EURUSD=X,NaN,NaN,NaN,NaN
92,92,2021-06-29,1.193033,1.193033,1.188044,1.192890,1.192890,0.0,EURUSD=X,NaN,NaN,NaN,NaN

In [5]:
df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Company,ARIMA,LINEAR,SVR,COMPOUND
0,0,2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179795,1.172751,1.169583
1,1,2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179304,1.172751,1.169419
2,2,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.178981,1.172751,1.169312
3,3,2021-10-24,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179142,1.172751,1.169366
4,4,2021-10-23,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179616,1.172751,1.169523

In [6]:
df.tail()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Company,ARIMA,LINEAR,SVR,COMPOUND
88,88,2021-07-05,1.185593,1.188200,1.185201,1.185621,1.185621,0.0,EURUSD=X,NaN,NaN,NaN,NaN
89,89,2021-07-02,1.184708,1.186099,1.181935,1.184624,1.184624,0.0,EURUSD=X,NaN,NaN,NaN,NaN
90,90,2021-07-01,1.185536,1.188399,1.183810,1.185677,1.185677,0.0,EURUSD=X,NaN,NaN,NaN,NaN
91,91,2021-06-30,1.189994,1.191043,1.184582,1.190193,1.190193,0.0,EURUSD=X,NaN,NaN,NaN,NaN
92,92,2021-06-29,1.193033,1.193033,1.188044,1.192890,1.192890,0.0,EURUSD=X,NaN,NaN,NaN,NaN

In [7]:
df.iloc[2:8]

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Company,ARIMA,LINEAR,SVR,COMPOUND
2,2,2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.178981,1.172751,1.169312
3,3,2021-10-24,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179142,1.172751,1.169366
4,4,2021-10-23,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179616,1.172751,1.169523
5,5,2021-10-22,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.179224,1.172751,1.169393
6,6,2021-10-21,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.178001,1.172751,1.168985
7,7,2021-10-20,NaN,NaN,NaN,NaN,NaN,NaN,EURUSD=X,1.156203,1.177850,1.172751,1.168935